@model eGreeting.Models.Feedback

@{
    ViewBag.Title = "Detail Feedback";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";

}

<h2>Detail Feedback</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "ManageFeedback", "Admin", null, new { @class = "btn btn-warning", @style = "float:left" })
</p>
