@model eGreeting.Models.Card

@{
    ViewBag.Title = "EditCard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Edit Card</h2>


@using (Html.BeginForm("EditCard","Admin", FormMethod.Post, new { @enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CardId)
        @Html.HiddenFor(model => model.DateCreated)

        <div class="form-group">
            @Html.LabelFor(model => model.CardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.data, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/ImageCard/@Model.ImageName" alt="@Model.ImageName" style="width:50%" id="imgPreview" class="img-responsive"/>
                <input type="file" name="file" id="file" value="Change Image" class="form-control-file"/>
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "ManageCard", null, new { @class="btn btn-default" })
                <input type="submit" value="Save" class="btn btn-success" style="float:right"/>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#file').on("change", function () {
        if (this.files && this.files[0]) {
            var fr = new FileReader();
            fr.onload = function (e) {
                $("#imgPreview").attr("src", e.target.result);
            }
            fr.readAsDataURL(this.files[0]);
        }
    })
</script>