@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    var pageList = (IPagedList)ViewBag.page;
    int i = 1;
}

<h2>Manage User</h2>


<p>
    @Html.ActionLink("Create New User", "CreateUser", "Admin", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Is VIP</th>
        <th>Is Inactive</th>
        <th>Subcribe Send</th>
        <th>Subcribe Receive</th>
        <th>FullName</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th style="width:15%">Action</th>
    </tr>

    @foreach (var item in ViewBag.page)
    {
        <tr>
            <td>@i</td>
            <td>@item.UserName</td>
            <td>
                @if (item.Role)
                {<label>Admin</label>}
                else
                {<label>User</label>}
            </td>
            <td>
                @if (item.IsVIP)
                {
                    <label>Yes</label>
                }
                else
                { <label>No</label>}
            </td>
            <td>
                @if (item.IsDeactive)
                {
                    <label>Yes</label>
                }
                else
                { <label>No</label>}
            </td>
            <td>
                @if (item.IsSubcribeSend)
                {<label>Yes</label>}
                else
                {<label>No</label>}
            </td>
            <td>
                @if (item.IsSubcribeReceive)
                {<label>Yes</label>}
                else
                {<label>No</label>}
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @if (item.Gender)
                {<label>Male</label>}
                else
                {<label>Female</label>}
            </td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td style="text-align: center;">
                <a href="/Admin/EditEmailList/@item.UserId" style="font-weight: 900;color: blue;">Manage Email List</a><br />
                <a href="/Admin/EditUser/@item.UserId" class="btn btn-warning"><i class="far fa-edit"></i></a>
                @if (item.UserId != 1)
                {
                    <a onClick="doDelete(@item.UserId)" class="btn btn-danger btn-circle">
                        <i style="color: #fff" class="fas fa-trash"></i>
                    </a>
                }
            </td>
        </tr>
        i++;
    }
</table>

<div>
    @Html.PagedListPager(pageList, page => Url.Action("ManageUser", new { page }))
</div>

<script>
    // delete
    function doDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonColor: '#d33'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Admin/DeleteUser",
                    type: "POST",
                    data: {
                        id: id,
                    },
                    success: function (res) {
                        if (res) {
                            Swal.fire({
                                title: 'Delete success',
                                text: 'Successfully deleted!',
                                type: 'success'
                            }).then(() => {
                                location.reload();
                            });
                        }
                    }
                })
            }
        })
    }
</script>