@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Manage Card";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    var pageList = (IPagedList)ViewBag.page;
    int i = 1;
}

<h2>Manage Card</h2>

<p>
    @Html.ActionLink("Create New Card", "CreateCard", "Admin", new { @class = "btn btn-success" })
</p>

<form action="~/Admin/ManageCard" method="get">
    <input type="text" name="pName" style="font-size:14px" placeholder="Enter Card name">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <tr>

        <th>

            NameCard
        </th>
        <th>

            Category
        </th>
        <th>

            Image
        </th>
        <th>

            DateCreated
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in ViewBag.page)
    {
        <tr>
            <td>
                @item.NameCard
            </td>
            <td>
                @item.Category
            </td>
            <td width="20%">
                <img src="~/ImageCard/@item.ImageName" alt="@item.ImageName" style="width: 100%" title="@item.ImageName" />
            </td>
            <td>
                @item.DateCreated
            </td>
            <td>
                <a class="btn btn-warning" href="/Admin/EditCard/@item.CardId"><i class="far fa-edit"></i></a>
                @*@Html.ActionLink("Edit", "EditCard", new { id = item.CardId }, new { @class = "btn btn-warning" })*@
                <a onClick="doDelete(@item.CardId)" class="btn btn-danger btn-circle">
                    <i style="color: #fff" class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        i++;
    }

</table>
<div>
    @Html.PagedListPager(pageList, page => Url.Action("ManageCard", new { page }))
</div>

<script>
    function doDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonColor: '#d33'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Admin/DeleteCard",
                    type: "POST",
                    data: {
                        id: id,
                    },
                    success: function (res) {
                        if (res) {
                            Swal.fire({
                                title: 'Delete success',
                                text: 'Successfully deleted!',
                                type: 'success'
                            }).then(() => {
                                location.reload();
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'Delete failed',
                                text: 'An error occurred while deleting!',
                                type: 'error'
                            })
                        }
                    }
                })
            }
        })
    }
</script>