@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - e-Greetings Online</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="~/ImageCard/gift-card.ico" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

    <!-- Style Pagination -->
    <link href="~/content/PagedList.css" rel="stylesheet" />
    <!-- Style SWAL-->
    <link rel='stylesheet' href='~/content/sweetalert.min.css'>
    <!-- Style Light slider-->
    <link rel='stylesheet' href='~/content/Light-slider/css/lightslider.min.css'>
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;display=swap" as="font">
    <!-- khanh css -->
    <link href="~/content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/content/Khanh.css" rel="stylesheet" />
    <!-- Button back top -->
    <link href="~/content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="~/content/Admin/js/sweetalert2@8.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

</head>
<body class="container-fluid" style="padding: 0; background-color:#fffbe8">
    <!-- background-image: url('../../Content/img/background.jpg')-->
    <!-- Layout -->
    <!-- Back to top button -->
    <a id="button"></a>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light sticky-top" style="background-image: linear-gradient(to right, #c5e3de, #b8e3dc , #a6ded5); justify-content:space-between;">

        <!-- Navbar brand -->
        <a class="navbar-brand py-0" style="margin-bottom:-10px;margin-top:-10px;" href='@Url.Action("index", "Home")'>
            <img src='@Url.Content("~/content/img/e-logo1.png")' style="width:12rem" />
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Birthday", "Birthday", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("New Year", "NewYear", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Festival", "Festival", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Feedback", "Feedback", "User", null, new { @class = "nav-link" })
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Subscribe</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/User/SubscribeSend">Subscribe Send Card</a>
                        <a class="dropdown-item" href="/User/SubscribeReceive">Subscribe Receive New Card</a>
                    </div>
                </li>
            </ul>
            <!-- Links -->
            <!-- Form Search -->
            <form class="form-inline" action="/Home/Search">
                <div class="searchBox md-form my-0">
                    <input class="form-control mr-sm-2 searchInput" name="txtSearch" type="text" placeholder="Search..." aria-label="Search">
                    <button type="submit" class="waves-effect waves-light" style="color: black;background: none;border: none;"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            <!-- Form Search -->
            <!-- Login/Register -->
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="py-2 px-1">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="py-2 px-1">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        @if (@Context.Session.GetString("username") == null)
                        {
                            <a class="dropdown-item" href="/Home/Login" style="text-align:center;">Sign in</a>
                            <a class="dropdown-item" href="/User/Register" style="text-align:center;">Register</a>
                        }
                        else
                        {
                            if (@Context.Session.GetString("role") != null && @Context.Session.GetString("fullname") != null)
                            {
                                if (@Context.Session.GetString("role") == "true")
                                {
                                    <p style="text-align:center;margin:0">Welcome <a class="dropdown-item" href="/User/Index" style="font-weight:900">@Context.Session.GetString("fullname")</a></p>
                                }
                                else
                                {
                                    <p style="text-align:center;margin:0">Welcome <a class="dropdown-item" href="/User/Index" style="font-weight:900">@Context.Session.GetString("fullname")</a></p>
                                }
                            }
                            <a class="dropdown-item" href="/Home/Logout" style="text-align:center;padding-top:0">Sign out</a>
                        }
                    </div>
                </li>
            </ul>
            <!-- Login/Register -->
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <div class="container-fluid body-content" style="padding-top: 30px; padding-bottom: 50px">
        <partial name="_NotificationPanel" />
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small" style="width: 100%;background-image: linear-gradient(to right, #c5e3de, #b8e3dc , #a6ded5);">
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a href="/Home/Index">&copy; @DateTime.Now.Year - eGreeting Online</a>
        </div>
        <!-- Copyright -->
        <!-- JQuery -->




    </footer>
    <!-- Footer -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>
    <!-- Light slider JavaScript -->
    <script type="text/javascript" src="~/Content/Light-slider/js/lightslider.min.js"></script>
    <script src="~/Content/Admin/js/sweetalert2@8.js"></script>
    <!--CDN Swal -->
    <script src="~/Scripts/sweetalert.min.js"></script>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {


        $("#datepicker").datepicker();



        // Light slider
        $('#responsive-banner').lightSlider({
            item: 1,
            loop: true,
            slideMove: 1,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 2400,
            auto: true,
            pause: 4200,
            pauseOnHover: true,
            controls: false,
            slideMargin: 30,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 1,
                        slideMove: 1,
                        slideMargin: 6,
                    }
                },
                {
                    breakpoint: 426,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]
        });

        $('#responsive').lightSlider({
            item: 4,
            loop: false,
            slideMove: 3,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 600,
            controls: false,
            slideMargin: 30,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 3,
                        slideMove: 1,
                        slideMargin: 6,
                    }
                },
                {
                    breakpoint: 426,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]
        });

        $('#responsive-1').lightSlider({
            item: 4,
            loop: false,
            slideMove: 3,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 600,
            controls: false,
            slideMargin: 30,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 3,
                        slideMove: 1,
                        slideMargin: 6,
                    }
                },
                {
                    breakpoint: 426,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]
        });

        $('#responsive-2').lightSlider({
            item: 4,
            loop: false,
            slideMove: 3,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 600,
            controls: false,
            slideMargin: 30,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 3,
                        slideMove: 1,
                        slideMargin: 6,
                    }
                },
                {
                    breakpoint: 426,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]
        });

    })

    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });
</script>