@model eGreeting.Models.EmailList

@{
    ViewBag.Title = "EditEmailList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Edit Email List</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EmailList</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmailId)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ListEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea rows="15" class="form-control" name="ListEmail">@if (Model != null)
                {
                    foreach (var item in Model.ListEmail)
                    {
                        @item
                    }
                }</textarea>
                @Html.ValidationMessageFor(model => model.ListEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-warning" })
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
