@model eGreeting.Models.User

@{
    ViewBag.Title = "SubscribeReceive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="color:chocolate">Subscribe Daily Receive New Card</h2>
@if (Model.IsSubcribeReceive)
{
    using (Html.BeginForm("UnSubscribeReceive", "User"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(item => item.UserId)
            <div class="form-group">
                <div class="container" style="text-align: center;">
                    <p>You're subscribed to daily receive new card. <b>Do you want unsubscribe ?</b></p>
                    <br />
                    <div class="col-md-offset-2 col-md-10" style="text-align:center; display: inline-block">
                        @Html.ActionLink("Wait...", "Index", "Home", null, new { @class = "btn btn-primary" })
                        <input type="submit" value="UnSubscribe" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("SubscribeReceive", "User"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(item => item.UserId)
            <div class="form-group">
                <div class="container">
                    <p><h4>With our greeting card subscription, you’ll have beautifully made and unique greeting cards delivered directly to you for every occasion. By click subscribe below, you accept to receive cards from us!</h4></p>
                    <br />
                    <div class="col-md-offset-2 col-md-10" style="text-align:center; display: inline-block">
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning" })
                        <input type="submit" value="Subscribe" class="btn btn-default" />
                    </div>

                </div>
            </div>
        </div>
    }
}

