@model eGreeting.Models.EmailList
@{
    ViewBag.Title = "SubscribeSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:chocolate">Subscribe Send</h2>

<div class="container">
    <h4>Our motto is make the most convenient for customers, so you only need to subscribe once (pay once), you can comfortably free to send all kind of greeting cards like birthday, new year, festival for a month. Accept to send cards for 10 emails you wish to send!</h4>
    <br />
    <div class="col-md-offset-2 col-md-10" style="text-align:center; display: inline-block">
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning" })
        <button class="btn btn-success" data-toggle="modal" data-target="#formEmailSend">Accept</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="formEmailSend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        @using (Html.BeginForm("AddEmailList","User"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.TextAreaFor(model => model.ListEmail, new { @class = "form-control", @rows = "10", @placeholder = "Input emails list which you want to send card...(at least 10 emails - Each email on an line)\n Note: YOU ONLY SEND CARD TO THOSE EMAILS. SO DO NOT DUPLICATE EMAIL" })
                        @Html.ValidationMessageFor(model => model.ListEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" name="name" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

